Django==1.5.5
South==0.8.2
argparse==1.2.1
boto==2.15.0
coverage==3.7
defusedxml==0.4.1
dj-database-url==0.2.2
django-storages==1.1.8
django-tastypie==0.10.0
gunicorn==18.0
python-dateutil==2.2
six==1.4.1
wsgiref==0.1.2
